.containerjuan {
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
.containerone {
    background: white;
    color: black;
    display: flex;
    flex-wrap: wrap 32px;
}
/*fix it so the text is at the bottom*/
.itemone {
    background: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-content: flex-end;
}