body {
    text-align: center;
}
.title {
    background: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.containerjuan {
    background: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    gap: 15px;
}
.containerone {
    background: white;
    color: black;
}
.itemone {
    background: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}