.textbox {
    height: 100px;
    padding: 30px;
    background: lightgoldenrodyellow;
    border: 5px;
    display: flex;
    justify-content: space-around;
}
.itemone {
    height: 20px;
    padding: 5px;
    border: 2px;
    color: blue;
    background: white;
}
.itemtwo {
    height: 20px;
    padding: 5px;
    border: 2px;
    color: blue;
    background: white;
}
.itemthree {
    height: 20px;
    padding: 5px;
    border: 2px;
    color: blue;
    background: white;
}
.logo {
    background: white;
    color: orange;
    height: 80px;
    align-content: center;
}
.textone {
    height: 20px;
    padding: 5px;
    border: 2px;
    color: blue;
    background: white;
}
.texttwo {
    height: 20px;
    padding: 5px;
    border: 2px;
    color: blue;
    background: white;
}
.textthree {
    height: 20px;
    padding: 5px;
    border: 2px;
    color: blue;
    background: white;
}