.boxone {
    height: 80px;
    padding: 5px;
    border: 6px red;
    background: lightgrey;
    display: flex;
    justify-content: space-between;
}
.logotwo {
    color: blueviolet;
    font-size: 40px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.itemsone {
    color: blueviolet;
}
.boxtwo {
    height: 80px;
    padding: 5px;
    border: 3px red;
    background: lightgrey;
    display: flex;
    justify-content: flex-end;
}
.itemstwo {
    background: blueviolet;
    color: white;
    border-radius: 6px;
}